
@{
    ViewBag.Title = "Index";
}

<h2>Entrenadores</h2>
<link rel="stylesheet" href="https://cdn.datatables.net/2.0.3/css/dataTables.dataTables.css" />

<div id="tipoEntrenador">

</div>




<script src="~/Scripts/jquery-3.7.1.min.js"></script>
<script src="https://cdn.datatables.net/2.0.3/js/dataTables.js"></script>
<script src="~/Scripts/TipoEntrenador.js"></script>
