
@{
    ViewBag.Title = "Index";
}

<h2>Entrenadores</h2>

<div id="tipoEntrenador">

</div>




<script src="~/Scripts/jquery-3.7.1.min.js"></script>
<script src="~/Scripts/TipoEntrenador.js"></script>
