
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<link href="~/Content/login.css" rel="stylesheet" />
@*<form  class="box">
    <h1>login</h1>
    <input type="text" name="username" id="txtusuario" placeholder="Usuario" autocomplete="off">
    <input type="password" name="pass" id="txtpassword" placeholder="Password" autocomplete="off" required />
    <input type="submit" id="submit" value="login" onclick="login()">
</form>*@

<form class="box" id="loginForm">
    <h1>login</h1>
    <input type="text" name="username" id="txtusuario" placeholder="Usuario" autocomplete="off">
    <input type="password" name="pass" id="txtpassword" placeholder="Password" autocomplete="off" required />
    <input type="submit" id="submit" value="login">
</form>




<script src="~/Scripts/jquery-3.7.1.min.js"></script>
<script src="~/Scripts/login.js"></script>