
@{
    ViewBag.Title = "GetGraficaPorCliente";
}
@model EntrenadorPersonal.Models.EvolucionClienteViewModel

<h2>GetGraficaPorCliente</h2>

<h2>Gráficas por Cliente</h2>

@foreach (var evolucion in Model.Evoluciones)
{
    <p>Peso: @evolucion.Peso</p>
    <p>Grasa Corporal: @evolucion.GrasaCorporal</p>
    <p>Músculo: @evolucion.Musculo</p>
    <hr />
}

<h2>Evolucion</h2>

<div class="row">
    <div class="col-sm-6">
        <div class="card">
            <div class="card-header">
                <h3>IMC</h3>
            </div>
            <div class="card-body">
                <canvas id="graficoIMC" style="max-height:250px"></canvas>
            </div>
        </div>
    </div>

    <div class="col-sm-6">
        <div class="card">
            <div class="card-header">
                <h3>IMC2</h3>
            </div>
            <div class="card-body">
                <canvas id="graficoIMC2" style="max-height:250px"></canvas>
            </div>
        </div>
    </div>

    <script src="~/Scripts/jquery-3.7.1.min.js"></script>
    <script src="~/Scripts/chart.umd.min.js"></script>
    <script type="module" src="~/Scripts/graficos.js"></script>
