
@{
    ViewBag.Title = "Index";
}


<h2>Evolucion</h2>

<div class="row">
    <div class="col-sm-6">
        <div class="card">
            <div class="card-header">
                <h3>IMC<span id="fechaIMC"></span></h3>
            </div>
            <div class="card-body">
                <canvas id="graficoIMC" style="width:100%"></canvas>
            </div>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-12 text-center">
            <button onclick="window.location.href = '/Main/Index'" class="btn btn-primary">Volver al Inicio</button>
        </div>
    </div>

    <script src="~/Scripts/jquery-3.7.1.min.js"></script>
    <script src="~/Scripts/chart.umd.min.js"></script>
    <script type="module" src="~/Scripts/graficos.js"></script>
